*{ 
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{ 
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;

}
.choices{ 
    margin-top: 5rem ;
    display: flex;
   justify-content: center;
   gap: 3rem;
}
.choice{ 
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.choice:hover{ 
    
    cursor: pointer;
       background-color: #081b31;
}
img{ 
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{ 
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
    
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{ 
    margin-top: 4rem;
}
#msg{ 
  background-color: #081b31 ;
  color: #fff;
  font-size: 1.5rem;
  display: inline;
  padding:.4rem .8rem;
  border-radius: 1rem;
}